.details {
    &-img {
        display: flex;
        margin: 0 auto;
    }
}

.horizontal {
    width: 100%;
    border-radius: 0;
}

.vertical {
    width: 100%;
    border-radius: 5%;  
}

.grid {
    display: grid;
    grid-template-areas:
    "x x" 
    "a b";
    &-img {
        grid-area: a;
    }
    &-info {
        grid-area: b;
    }
}