.more {
    background-color: rgba($secondary, 0.4);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    padding-block: 1.5rem;
    gap: 2rem;
    &-title {
        font: {
            size: 2rem;
            weight: 700;
        }
    }
    &-button {
        display: flex;
        gap: 4rem;
    }
}

.btn {
    padding: 1rem;
    border-radius: 16px;
    background-color: $primary;
    border: none;
    &:hover {
        background-color: rgba($tertiary, 0.5);
    }
    &-text {
        color: $text;
        text-decoration: none;
    }
}