.header {
    padding: 0 1rem;
    height: 5rem;
    display: flex;
    align-items: center;
}

.navbar {
    width: 100%;
    display: flex;
    align-items: end;
    justify-content: end;
    position: sticky;
    margin: auto 2rem;
    &-list {
        display: none;
        &.active {
            background-color: $primary;
            display: flex;
            flex-direction: column;
            align-items: center;
            position: absolute;
            right: 0;
            width: 100vw;
            padding-top: 2rem;
            gap: 1rem;          
        }
    }
    &-icon {
        display: flex;
        cursor: pointer;
    }
}
  
.toggle {
    color: $tertiary;
    display: inline-block;  
}
  
.navlink {
    color: $tertiary;
}
  
.dk-nav-list {
    display: flex;
    gap: 0.75rem;
}

.no-icon {
    display: none;
}

.logo {
    width: 25vw;
}