.navbar {
    height: 3.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 20;
    &-container {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        position: relative;
    }
    &-list {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        width: 100%;
        border-top: 1pxsolid #fff;
        position: absolute;
        top: 80px;
        left: -110%;
        opacity: 1;
        transition: all 0.5s ease;
    }
    &-icon {
        display: block;
        position: absolute;
        top: 50%;
        right: 0;
        transform: translate(-100%, -50%);
        width: 2rem;
        height: 2rem;
        cursor: pointer;
    }
}

.active {
    left: 0px;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
}
  
.toggle {
    color: $tertiary;
    display: inline-block;  
}
  
.navlink {
    color: $tertiary;
}
  
.dk-nav-list {
    display: flex;
    list-style: none;
    text-align: center;
    margin-right: 2rem;
}

.no-icon {
    display: none;
}