@import './utils/resets';
@import './utils/variables';

@import './components/navbar';
@import './components/footer';
@import './components/banner';

body {
    font-family: $roboto;
    background-color: $primary;
}

a {
    text-decoration: none;
}