@import './utils/resets';
@import './utils/variables';

@import './components/navbar';
@import './components/footer';
@import './components/banner';
@import './components/title';
@import './components/carousel';
@import './components/details';
@import './components/allmovie';
@import './components/select';
@import './components/search';
@import './components/more';

body {
    font-family: $roboto;
    color: $text;
    background-color: $primary;
}

a {
    text-decoration: none;
}